<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>

    <body>
        <div class="container" id="container">
            <div class="notification">
              This container is <strong>centered</strong> on desktop and larger viewports.
              <div class="line">
                <h1 class="text-gradient lineUp strong"> Hello! Need my access back..</h1>
                <h1 class="text-gradient lineUp strong"> Can we all please have call📞?</h1>
            </div>
            </div>
          </div>
        

        <section class="hero is-link">
            <div class="hero-body">
              <p class="title">
                Left in January
              </p>
              <p class="subtitle">
                Seen how unemployment feels, connected with nature, became eveyone's friend
              </p>
            </div>
          </section>


          <section class="hero is-danger">
            <div class="hero-body">
              <p class="title">
                My leadership qualities
              </p>
              <p class="subtitle">
                Cannot work under anyone, need flexibility and space to be creative. I understand this and would want to provide the same to others, have a habit of connecting with my heart with everyone.
              </p>
            </div>
          </section>

          <section class="hero is-warning">
            <div class="hero-body">
              <p class="title">
                My skills
              </p>
              <p class="subtitle">
                Learning AWS and NodeJS, interested in learning Unreal Engine too to develop my own games. Trained facilitator and Design thinking Practitioner.
              </p>
            </div>
          </section>


          <section class="hero is-success">
            <div class="hero-body">
              <p class="title">
                Success hero
              </p>
              <p class="subtitle">
                I believe I could be a really valuable resource to Amdocs but the eventual decision would be upto you'll.
              </p>
            </div>
          </section>
    </body>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    